name: CD pipeline

on:
  workflow_run:
    workflows: ["CI pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup terrafrom
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.4.0
    
    - name: Terraform init
      env:
        AZ_CLIENT_ID: ${{ secrets.AZ_CLIENT_ID }}
        AZ_CLIENT_SECRET: ${{ secrets.AZ_CLIENT_SECRET }}
        AZ_SUBSCRIPTION_ID: ${{ secrets.AZ_SUBSCRIPTION_ID }}
        AZ_TENANT_ID: ${{ secrets.AZ_TENANT_ID }}
      run: terraform init

    - name: Terraform plan
      run: terraform plan