name : CI pipeline

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Docker Image Dev-CI-Build
      run: |
        TAG_NAME=${{ github.ref_name }}-${{ github.sha }}
        TAG_NAME=${TAG_NAME//\//-}
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mib-frontend:$TAG_NAME .
      
    - name: Docker docker/login-action
      uses: docker/login-action@v2
      with:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_TOKEN}}
    
    - name: Docker push
      run: |
        TAG_NAME=${{ github.ref_name }}-${{ github.sha }}
        TAG_NAME=${TAG_NAME//\//-}
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/mib-frontend:$TAG_NAME