    name : CI pipeline

    # on:
    #   push:
    #     branches:
    #       - main
    #   workflow_dispatch:

    jobs:
      build-and-push:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v1

        - name: Docker Image Dev-CI-Build
          run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mib-frontend:${{ github.ref_name }}-${{ github.sha }} .
          
        - name: Docker docker/login-action
          uses: docker/login-action@v2
          with:
            username: ${{secrets.DOCKERHUB_USERNAME}}
            password: ${{secrets.DOCKERHUB_PASSWORD}}
        
        - name: Docker push
          run: docker push ${{secrets.DOCKERHUB_USERNAME}}/mib-frontend:${{github.ref_name}}-${{github.sha}}
