name : CI pipeline

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Docker Image Dev-CI-Build
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mib-frontend:${{ github.ref_name }}-${{ github.sha }} .
      
    - name: Docker docker/login-action
      uses: docker/login-action@v2
      with:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_PASSWORD}}
    
    - name: Docker push
      run: docker push ${{secrets.DOCKERHUB_USERNAME}}/mib-frontend:${{github.ref_name}}-${{github.sha}}

    - name: Publish terrafrom as artifact
      uses: actions/upload-artifact@v3
      with:
        name: terraform
        path: |
          terraform/*.tf
    
    - name: Setup terrafrom
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.4.0
    
    - name: Download artifact
      uses: actions/download-artifact@v3
      with:
        name: terraform
        path: terraform
    
    - name: Terraform init
      working-directory: terraform
      env:
        ARM_CLIENT_ID: ${{ secrets.AZ_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.AZ_CLIENT_SECRET }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZ_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ secrets.AZ_TENANT_ID }}
      run: terraform init

    - name: Terraform plan
      working-directory: terraform
      run: terraform plan